<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script scr="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">
           <span sraia-label="Home" title="Home">Home</span>
        </a> |
        <a href="/about">
            <span aria-label="Aboout">About</span>
        </a> |
        <a href="{% url 'posts:list' %}">
            <span aria-label="Posts">Posts</span>
        </a> |
        <a href="{% url 'users:register' %}">
            <span aria-label="User Registration">Register</span>
        </a> |
        <a href="{% url 'users:login' %}">
            <span aria-label="User Login">Log In</span>
        </a> |
        <form class"logout" action="{% url 'users:logout' %}"
        method="post">
            {% csrf_token %}
            <button class="logout-button" aria-label="User Logout"
            title="User Logout">Logout</button>
        </form>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>